*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

.container{
    height: 100vh;
    background-color: #564d4d;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 80px;
}

h1{
    color: 	#db0000;
    font-size: 50px;
}

.selector button{
    background-color: grey;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 5px 10px;
}

.selector button.active{
    background-color: #db0000;
}

#search__sect{
    color: white;
}

main{
    height: calc(100% - 80px);
    overflow: auto;
}

.title__section{
    color: white;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: -30px;
}

.catalogue__sect{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    overflow-x: auto;
}

.catalogue__sect::-webkit-scrollbar {
    display: none;
}

.film__card{
    position: relative;
    height:350px;
    min-width: 233px;
}

.film__card:not(:last-child){
    margin-right: 5px;
}

.film__card:hover .film__data{
    opacity: 1;
}

.cards{
    height: 100%;
}

.film__img{
    width: 100%;
    opacity: 1;
}

.film__img img{
    height:100%;
    width: 100%;
}

.film__data{
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    padding:7px;
    background-color: black;
    color: white;
    opacity: 0;
    overflow: hidden;
}

.film__data *{
    margin-bottom: 10px;
}

.flag{
    width: 30px;
    height: 20px;
}

.voto{
    display: flex;
}

.voto ul{
    display: flex;
    list-style: none;
}

.overview{
    cursor: pointer;
    margin-top: -20px;
}

.overview__clamp{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.overview__open{
    position: absolute;
    background-color: black;
    top: 25px;
    height: 100%;
    overflow-y: auto;
}
