<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BoolFix</title>
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <!-- end google font -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
        <!-- development version, includes helpful console warnings --> 
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app">
            <div class="container">

                <header>
                    <img src="img/logo.png" alt="logo">
                    <div class="selector">
                        <button :class="popularClass" @click="showSection">più visti</button>
                        <button :class="classActive" class="" @click="showSection">all</button>
                        <button :class="classActive" class="" @click="showSection">films</button>
                        <button :class="classActive" class="" @click="showSection">series</button>
                    </div>
                    <div id="search__sect">
                        <label for="search">Search</label>
                        <input @keyup.13="search" v-model="searched" id="search" type="text">
                        <button @click="search" >Go!</button>
                    </div>
                </header>

                <main>

                    <div class="popular" v-if="popularActive">
                        <h3 class="title__section">I PIÙ VISTI</h3>
                        <div v-dragscroll class="catalogue__sect">
                            
                            <div @mouseleave="resetOverview" v-for="pop in popular" class="film__card">
                                
                                <div class="film__img cards">
                                    <img :src='"https://image.tmdb.org/t/p/w400/" + pop.poster_path' alt="">
                                </div>

                                <div class="film__data cards">
                                    <h3><strong>Titolo:</strong> {{pop.title || pop.name}}</h3>
                                    <h4><strong>Titolo originale:</strong> {{pop.original_title || pop.original_name}}</h4>
                                    <img class="flag" v-if="flag.includes(pop.original_language)":src="'img/' + pop.original_language + '.png'" alt="">
                                    <h4 v-else="flag.includes(pop.original_language) == false"><strong>Lingua:</strong> {{pop.original_language}}</h4>

                                    <div class="voto">
                                        <h4><strong>Voto: </strong></h4>
                                        <ul>
                                            <li v-for="index in pop.vote_average"><i class="fas fa-star"></i></li>
                                            <li v-for="index in (5 - pop.vote_average)"><i class="far fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div :class="showOverview" @click="show" class="overview" >
                                        <h4> <strong>Overview: </strong> <span>{{pop.overview}}</span> </h4>
                                
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="all" v-if="allActive">
                        <h3 class="title__section" v-if="mix.length !== 0" >PER TE</h3>
                        <div v-dragscroll class="catalogue__sect">
                            <div @mouseleave="resetOverview" v-for="item in mix" v-if="item.poster_path !== null" class="film__card">

                                <div class="film__img cards">
                                    <img :src='"https://image.tmdb.org/t/p/w400/" + item.poster_path' alt="">
                                </div>

                                <div class="film__data cards">
                                    <h3><strong>Titolo:</strong> {{item.title || item.name}}</h3>
                                    <h4><strong>Titolo originale:</strong> {{item.original_title || item.original_name}}</h4>
                                    <img class="flag" v-if="flag.includes(item.original_language)":src="'img/' + item.original_language + '.png'" alt="">
                                    <h4 v-else="flag.includes(item.original_language) == false"><strong>Lingua:</strong> {{item.original_language}}</h4>

                                    <div class="voto">
                                        <h4><strong>Voto: </strong></h4>
                                        <ul>
                                            <li v-for="index in item.vote_average"><i class="fas fa-star"></i></li>
                                            <li v-for="index in (5 - item.vote_average)"><i class="far fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div :class="showOverview" @click="show" class="overview" >
                                        <h4> <strong>Overview: </strong> <span>{{item.overview}}</span> </h4>
                                
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="films" v-if="filmActive">
                        <h3 class="title__section" v-if="films.length !== 0" >I FILM</h3>
                        <div v-dragscroll class="catalogue__sect">
                            <div @mouseleave="resetOverview" v-for="film in films" v-if="film.poster_path !== null" class="film__card">

                                <div class="film__img cards">
                                    <img :src='"https://image.tmdb.org/t/p/w400/" + film.poster_path' alt="">
                                </div>

                                <div class="film__data cards">
                                    <h3><strong>Titolo:</strong> {{film.title || film.name}}</h3>
                                    <h4><strong>Titolo originale:</strong> {{film.original_title || film.original_name}}</h4>
                                    <img class="flag" v-if="flag.includes(film.original_language)":src="'img/' + film.original_language + '.png'" alt="">
                                    <h4 v-else="flag.includes(film.original_language) == false"><strong>Lingua:</strong> {{film.original_language}}</h4>
                                    <div class="voto">
                                        <h4><strong>Voto: </strong></h4>
                                        <ul>
                                            <li v-for="index in film.vote_average"><i class="fas fa-star"></i></li>
                                            <li v-for="index in (5 - film.vote_average)"><i class="far fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div :class="showOverview" @click="show" class="overview" >
                                        <h4> <strong>Overview: </strong> <span>{{film.overview}}</span> </h4>
                                
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="series" v-if="seriesActive">
                        <h3 class="title__section" v-if="series.length !== 0" >LE SERIE</h3>
                        <div v-dragscroll class="catalogue__sect">
                            <div @mouseleave="resetOverview" v-for="serie in series" v-if="serie.poster_path !== null" class="film__card">

                                <div class="film__img cards">
                                    <img :src='"https://image.tmdb.org/t/p/w400/" + serie.poster_path' alt="">
                                </div>

                                <div class="film__data cards">
                                    <h3><strong>Titolo:</strong> {{serie.title || serie.name}}</h3>
                                    <h4><strong>Titolo originale:</strong> {{serie.original_title || serie.original_name}}</h4>
                                    <img class="flag" v-if="flag.includes(serie.original_language)":src="'img/' + serie.original_language + '.png'" alt="">
                                    <h4 v-else="flag.includes(serie.original_language) == false"><strong>Lingua:</strong> {{serie.original_language}}</h4>
                                    <div class="voto">
                                        <h4><strong>Voto: </strong></h4>
                                        <ul>
                                            <li v-for="index in serie.vote_average"><i class="fas fa-star"></i></li>
                                            <li v-for="index in (5 - serie.vote_average)"><i class="far fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div :class="showOverview" @click="show" class="overview" >
                                        <h4> <strong>Overview: </strong> <span>{{serie.overview}}</span> </h4>
                                
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                </main>
            </div>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-dragscroll"></script>
        <script src="js/script.js"></script>
    </body>
</html>